<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @parent.phone_number %>
</p>

<p>
  <strong>Answers phone if from school:</strong>
  <%= @parent.answers_phone_if_from_school %>
</p>

<p>
  <strong>Has respect for teachers:</strong>
  <%= @parent.has_respect_for_teachers %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Student:</strong>
  <%= @parent.student_id %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
